src/rng/restrictedJATS.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="JATS-archive-oasis-article1-mathml3.rng"/>

  <!-- Stubs -->
  <define name="mml.math">
    <element name="mml:math">
    </element>
  </define>
  <define name="XLINK.xmlns.attrib">
    <empty/>
  </define>
  <define name="oasis.table">
    <element name="oasis:table">
    </element>
  </define>
  <define name="oasis.tbody">
    <element name="oasis:tbody">
    </element>
  </define>

  <define name="disp-formula-model">
    <optional>
      <ref name="label"/>
    </optional>
    <zeroOrMore>
      <ref name="abstract"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="access.class"/>
    </zeroOrMore>
    <choice>
      <ref name="x"/>
      <ref name="preformat"/>
      <ref name="code"/>
      <ref name="math.class"/>
      <ref name="graphic"/>
      <ref name="array"/>
      <ref name="alternatives"/>
    </choice>
    <zeroOrMore>
      <choice>
        <ref name="attrib"/>
        <ref name="permissions"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="inline-formula-model">
    <choice>
      <ref name="x"/>
      <ref name="preformat"/>
      <ref name="code"/>
      <ref name="math.class"/>
      <ref name="graphic"/>
      <ref name="alternatives"/>
    </choice>
  </define>

  <define name="all-phrase">
    <choice>
      <ref name="ext-link"/>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="phrase.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>

  <define name="textual-form-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="inline-display-noalt.class"/>
      <ref name="label.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>

  <define name="element-citation">
    <element name="element-citation">
      <ref name="element-citation-attlist"/>
      <oneOrMore>
        <choice>
          <ref name="related-article"/>
          <ref name="related-object"/>
          <ref name="citation-additions.class"/>
          <ref name="label.class"/>
          <ref name="references.class"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="citation.class">
    <choice>
      <ref name="citation-alternatives"/>
      <ref name="element-citation"/>
    </choice>
  </define>

  <define name="citation-minus-alt.class">
    <choice>
      <ref name="element-citation"/>
    </choice>
  </define>

  <define name="mixed-citation">
    <element name="mixed-citation">
      <zeroOrMore>
        <text />
      </zeroOrMore>
    </element>
  </define>

  <define name="named-content-elements">
    <choice>
      <ref name="all-phrase"/>
    </choice>
  </define>

  <define name="styled-content-elements">
    <choice>
      <ref name="all-phrase"/>
    </choice>
  </define>

  <define name="p-elements">
    <choice>
      <ref name="all-phrase"/>
    </choice>
  </define>

  <define name="para-level">
    <choice>
      <ref name="block-display.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="nothing-but-para.class"/>
      <ref name="related-article.class"/>
      <ref name="rest-of-para.class"/>
      <ref name="x.class"/>
    </choice>
  </define>

  <define name="aff-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="label.class"/>
    </choice>
  </define>
  <define name="aff">
    <element name="aff">
      <ref name="aff-attlist"/>
      <zeroOrMore>
        <choice>
          <ref name="aff-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="collab-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="phrase.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>

  <define name="conf-loc">
    <element name="conf-loc">
      <ref name="conf-loc-attlist"/>
      <zeroOrMore>
        <ref name="conf-loc-elements"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="conf-loc-elements">
    <choice>
      <ref name="address.class"/>
    </choice>
  </define>

  <define name="corresp">
    <element name="corresp">
      <ref name="corresp-attlist"/>
      <zeroOrMore>
        <ref name="corresp-elements"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="corresp-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="label.class"/>
      <ref name="email"/>
    </choice>
  </define>

  <define name="publisher-loc-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>

  <define name="person-group-model">
    <zeroOrMore>
      <ref name="person-group-elements"/>
    </zeroOrMore>
  </define>
  <define name="person-group-elements">
    <choice>
      <ref name="name.class"/>
      <ref name="person-group-info.class"/>
    </choice>
  </define>

  <define name="sig-block">
    <element name="sig-block">
      <ref name="sig-block-attlist"/>
      <zeroOrMore>
        <ref name="sig-block-elements"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="sig-block-elements">
    <choice>
      <ref name="contrib.class"/>
      <ref name="person-group-info.class"/>
      <ref name="sig.class"/>
    </choice>
  </define>
  <define name="sig">
    <element name="sig">
      <ref name="sig-attlist"/>
      <zeroOrMore>
        <ref name="sig-elements"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="sig-elements">
    <choice>
      <ref name="x" />
      <ref name="graphic" />
    </choice>
  </define>

  <define name="alternatives-display.class">
    <choice>
      <ref name="array"/>
      <ref name="chem-struct"/>
      <ref name="code"/>
      <ref name="graphic"/>
      <ref name="media"/>
      <ref name="preformat"/>
      <ref name="supplementary-material"/>
      <ref name="table"/>
      <ref name="oasis.table"/>
      <ref name="textual-form"/>
    </choice>
  </define>
  <define name="inline-display.class">
    <choice>
      <!-- TODO: we need <inline-alternatives>
      <ref name="alternatives"/>
      !-->
      <ref name="inline-graphic"/>
      <ref name="private-char"/>
    </choice>
  </define>

  <define name="chem-struct-model">
    <zeroOrMore>
      <ref name="chem-struct-elements"/>
    </zeroOrMore>
  </define>
  <define name="chem-struct-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="id.class"/>
      <ref name="label.class"/>
      <ref name="list.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>

  <define name="article-link.class">
    <choice>
      <ref name="xref" />
    </choice>
  </define>

  <define name="inline-supplementary-material">
    <element name="inline-supplementary-material">
      <empty />
    </element>
  </define>

  <define name="related-article">
    <element name="related-article">
      <ref name="related-article-attlist"/>
      <zeroOrMore>
        <ref name="related-article-elements"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="related-article-elements">
    <choice>
      <ref name="citation-additions.class"/>
      <ref name="label.class"/>
      <ref name="references.class"/>
      <ref name="journal-id.class"/>
    </choice>
  </define>

  <define name="related-object">
    <element name="related-object">
      <ref name="related-object-attlist"/>
      <zeroOrMore>
        <ref name="related-object-elements"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="related-object-elements">
    <choice>
      <ref name="citation-additions.class"/>
      <ref name="label.class"/>
      <ref name="references.class"/>
    </choice>
  </define>

  <define name="product">
    <element name="product">
      <ref name="product-attlist"/>
      <zeroOrMore>
        <ref name="product-elements"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="product-elements">
    <choice>
      <ref name="citation-additions.class"/>
      <ref name="label.class"/>
      <ref name="references.class"/>
      <ref name="price.class"/>
    </choice>
  </define>

  <define name="code-elements">
    <choice>
      <ref name="ext-link"/>
      <ref name="emphasis.class"/>
      <ref name="phrase.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>

  <define name="data-title-elements">
    <choice>
      <ref name="ext-link"/>
      <ref name="emphasis.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>

  <define name="address-link.class">
    <choice>
      <ref name="email"/>
      <ref name="uri"/>
    </choice>
  </define>

  <define name="contrib-info.class">
    <choice>
      <ref name="address"/>
      <ref name="aff"/>
      <ref name="aff-alternatives"/>
      <ref name="author-comment"/>
      <ref name="bio"/>
      <ref name="email"/>
      <ref name="etal"/>
      <ref name="fn"/>
      <ref name="on-behalf-of"/>
      <ref name="role"/>
      <ref name="uri"/>
      <ref name="xref"/>
    </choice>
  </define>

  <define name="references.class">
    <choice>
      <ref name="annotation"/>
      <ref name="article-title"/>
      <ref name="chapter-title"/>
      <ref name="collab"/>
      <ref name="collab-alternatives"/>
      <ref name="comment"/>
      <ref name="conf-acronym"/>
      <ref name="conf-date"/>
      <ref name="conf-loc"/>
      <ref name="conf-name"/>
      <ref name="conf-sponsor"/>
      <ref name="data-title"/>
      <ref name="date"/>
      <ref name="date-in-citation"/>
      <ref name="day"/>
      <ref name="edition"/>
      <ref name="email"/>
      <ref name="elocation-id"/>
      <ref name="etal"/>
      <ref name="fpage"/>
      <ref name="gov"/>
      <ref name="institution"/>
      <ref name="institution-wrap"/>
      <ref name="isbn"/>
      <ref name="issn"/>
      <ref name="issn-l"/>
      <ref name="issue"/>
      <ref name="issue-id"/>
      <ref name="issue-part"/>
      <ref name="issue-title"/>
      <ref name="lpage"/>
      <ref name="month"/>
      <ref name="name"/>
      <ref name="name-alternatives"/>
      <ref name="object-id"/>
      <ref name="page-range"/>
      <ref name="part-title"/>
      <ref name="patent"/>
      <ref name="person-group"/>
      <ref name="pub-id"/>
      <ref name="publisher-loc"/>
      <ref name="publisher-name"/>
      <ref name="role"/>
      <ref name="season"/>
      <ref name="series"/>
      <ref name="size"/>
      <ref name="source"/>
      <ref name="std"/>
      <ref name="string-name"/>
      <ref name="supplement"/>
      <ref name="trans-source"/>
      <ref name="trans-title"/>
      <ref name="uri"/>
      <ref name="version"/>
      <ref name="volume"/>
      <ref name="volume-id"/>
      <ref name="volume-series"/>
      <ref name="year"/>
    </choice>
  </define>

  <define name="string-conf-elements">
    <ref name="simple-text"/>
  </define>

  <define name="struct-title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>

  <define name="funding-statement-elements">
    <choice>
      <ref name="all-phrase"/>
    </choice>
  </define>

</grammar>